@page "/InventoryList"
@using ACESProject1.Components.Controls

@inject IViewInvbyNameUseCase ViewInvbyNameUseCase

<PageTitle>Inventory List</PageTitle>

<h3>Inventory List</h3>

<br />
<br />

<InvListComponent></InvListComponent>

<br />

<a href="/addInvItem" class="btn btn-primary"> Add Item </a>
<InvListComponent> </InvListComponent>

@code {
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        inventories = (await ViewInvbyNameUseCase.ExecuteAsync()).ToList();
    }
}