@page "/InventoryList"

@inject IViewInvbyNameUseCase ViewInvbyNameUseCase

<PageTitle>Inventory List</PageTitle>

<h3>Inventory List</h3>

<br />
<br />

<InvListComponent> </InvListComponent>

@code {
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        inventories = (await ViewInvbyNameUseCase.ExecuteAsync()).ToList();
    }
}