@inject IViewInvbyNameUseCase ViewInvbyNameUseCase

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (inventories is not null && inventories.Count > 0)

            foreach (var inv in inventories)
            {
                <InvListItemComponent inventory="inv"></InvListItemComponent>
            }
    </tbody>
</table>

@code {
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        inventories = (await ViewInvbyNameUseCase.ExecuteAsync()).ToList();
    }
}